<% @current_sales = Sale.find(:all, :conditions => ["DATE(created_at) = DATE(?)", Time.now]) %>

<% @total_price = 0.00 %>


<% for sale in @current_sales %>
		<% @total_price += sale.total_amount %>
<% end %>

<div class="todays_total">
	Total: $<%= @total_price %>
</div>