<% @current_sales = Sale.find(:all, :conditions => ["DATE(created_at) = DATE(?)", Time.zone.now]) %>

<% @total_price = 0.00 %>


<% for sale in @current_sales %>
	<% unless sale.total_amount.blank? %>
		<% @total_price += sale.total_amount %>
	<% end %>
<% end %>

<div class="todays_total">
	Total: $<%= @total_price.blank? ? '' : @total_price * 1.0825 %><br />
	<span>only sales marked as "paid" will count towards daily sales.</span>
</div>