<div class="added_items">
	<% if session[:products].blank? %>
		<p>No Products Added Yet</p>
	<% else %>
		<% for item in session[:products] %>
			<%= item %>
		<% end %>

		<%= link_to 'Remove All Products', url_for(:controller => 'sales', :action => 'remove_all_product'), :format => :js, :remote => true %>
	<% end %>
</div>
