
	<div class="added_items">
		<% if session[:products].blank? %>
			<p>No Products Added Yet</p>
		<% else %>
			<ul>

				<% for item in session[:products] %>
					<li>
						<%= Item.find(item).name %> x 1 
						<%= link_to 'Remove', url_for(:controller => 'sales', :action => 'remove_product', :delete_id => item), :format => :js, :remote => true %>
					</li>
				<% end %>
			</ul>

			<%= link_to 'Remove All Products', url_for(:controller => 'sales', :action => 'remove_all_product'), :format => :js, :remote => true %>
		<% end %>
	</div>

