<h1>Listing sale_items</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sale_items.each do |sale_item| %>
  <tr>
    <td><%= link_to 'Show', sale_item %></td>
    <td><%= link_to 'Edit', edit_sale_item_path(sale_item) %></td>
    <td><%= link_to 'Destroy', sale_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sale item', new_sale_item_path %>
